# Environments
.venv/
.venv311/

# Datasets (Excluded due to GitHub limits)
*.csv
*.pcap
*.pcapng

# Saved Models (Excluded if too large)
models/*.keras
models/*.npz
models/*.joblib

# OS
.DS_Store
Thumbs.db
__pycache__/
