# Environments
.venv/
.venv311/
venv/

# Python Cache
__pycache__/
*.pyc

# Datasets
*.csv
*.pcap
*.pcapng

# Models
models/*.keras
models/*.npz
models/*.joblib

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db